<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>SUNRIVER - 主页</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/back-index.css">
    <script type="text/javascript" src="../javascripts/lib/require.js"></script>
    <script src="../javascripts/require-config.js"></script>
</head>
<body>
<div class="container">
    <div class="main">
        <% include top-navigation.ejs %>
    </div>
</div>
</body>
</html>