<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">

    <title>SUNRIVER - 品牌</title>

    <link rel="stylesheet" type="text/css" href="../stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/brand-list.css">

    <script type="text/javascript" src="../javascripts/lib/require.js"></script>
    <script src="../javascripts/require-config.js"></script>
</head>
<body>
<div class="container">
    <div class="main">

        <% include top-navigation.ejs %>

        <div class="brand-navigation">
            <ul class="brand-navigation-box clearfix">
                <li>PRODUCT MANAGE</li>
                <li>BRAND LIST</li>
            </ul>
        </div>

        <div class="brand-list-content">
            <div class="brand-list-new-item" id="create">N</div>
            <div class="brand-list-title">
                <span class="brand-list-title-1">BRAND NAME</span>
                <span class="brand-list-title-2">BRAND SIGN</span>
                <span class="brand-list-title-3">OPTION</span>
            </div>

            <ul class="brand-list-table">
                <% data.forEach(function (data) { %>
                <li class="brand-list-row">
                    <span class="brand-list-col-1"><%= data.brand_name %></span>
                    <span class="brand-list-col-2"><%= data.brand_sign %></span>
                    <span class="brand-list-col-3" data-id="<%= data.id %>">
                         <span class="edit">EDIT</span>
                         <span class="delete">DEL.</span>
                    </span>
                </li>
                <% }) %>
            </ul>
        </div>

        <div class="brand-list-float" id="confirm-float">
            <div class="brand-list-float-box">
                <div class="brand-list-float-cancel">&times;</div>
                <div class="brand-list-item-warning">
                    SURE TO DELETE ？
                    <p></p>
                </div>
                <div class="brand-list-item-option">
                    <button class="brand-list-item-option-1" id="delete-cancel">CANCEL</button>
                    <button class="brand-list-item-option-2" id="delete-confirm">CONFIRM</button>
                </div>
            </div>
        </div>

        <div class="brand-list-float" id="create-edit-float" data-option="">
            <div class="brand-list-option-box">
                <div class="brand-list-float-cancel">&times;</div>
                <div class="brand-list-option-box-item">
                    <span><s></s>BRAND NAME:</span>
                    <input type="text" placeholder="BETWEEN 1 AND 20" id="brandName">
                </div>
                <div class="brand-list-option-box-item">
                    <span><s></s>BRAND SIGN:</span>
                    <input type="text" placeholder="BETWEEN 1 AND 20" id="brandSign">
                </div>
                <div class="brand-list-option-box-item-option">
                    <button class="brand-list-item-option-1" id="create-edit-cancel">CANCEL</button>
                    <button class="brand-list-item-option-2" id="create-edit-confirm">CONFIRM</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../javascripts/sunriver/brand/brandListViewController.js"></script>
</body>
</html>