<div class="top-navigation">
    <ul class="top-navigation-level-1 clearfix">
        <li>
            <a href="#"><i>H</i>OME PAGE</a>
        </li>
        <li>
            <a href="#"><i>P</i>RODUCT MANAGE</a>
            <ul class="top-navigation-level-2">
                <li>
                    <a href="/brand/brand-list">BRAND MANAGE</a>
                </li>
                <li>
                    <a href="/color/color-list">COLOR MANAGE</a>
                </li>
                <li>
                    <a href="/style/style-list">STYLE MANAGE</a>
                </li>
                <li>
                    <a href="/material/material-list">MATERIAL MANAGE</a>
                </li>
                <li>
                    <a href="/wallte/wallet-list">WALLET MANAGE</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i>A</i>UTHORITY MANAGE</a>
            <ul class="top-navigation-level-2">
                <li>
                    <a href="#">ADMINISTRATOR</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i>O</i>THER</a>
            <ul class="top-navigation-level-2">
                <li>
                    <a href="#">COMPANY INTRODUCE</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="welcome-information">
    WELCOME, <%= username %>
    <sup>option</sup>
    <ul>
        <li>
            <a href="#">个人资料</a>
        </li>
        <li>
            <a href="#">退出</a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="../javascripts/sunriver/top-navigation.js"></script>