<div class="top-navigation">
    <ul class="top-navigation-level-1 clearfix">
        <li>
            <a href="#"><s>H</s>OME PAGE</a>
        </li>
        <li>
            <a href="#"><s>P</s>RODUCT MANAGE</a>
            <ul class="top-navigation-level-2">
                <li>
                    <a href="#">COLOR MANAGE</a>
                </li>
                <li>
                    <a href="#">STYLE MANAGE</a>
                </li>
                <li>
                    <a href="#">MATERIAL MANAGE</a>
                </li>
                <li>
                    <a href="/manage/wallet-new">WALLET MANAGE</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><s>A</s>UTHORITY MANAGE</a>
            <ul class="top-navigation-level-2">
                <li>
                    <a href="#">ADMINISTRATOR</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><s>O</s>THER</a>
            <ul class="top-navigation-level-2">
                <li>
                    <a href="#">COMPANY INTRODUCE</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="welcome-information">
    WELCOME, <%= username %>
    <sup>option</sup>
    <ul>
        <li>
            <a href="#">个人资料</a>
        </li>
        <li>
            <a href="#">退出</a>
        </li>
    </ul>
</div>
<script type="text/javascript" src="../javascripts/sunriver/top-navigation.js"></script>