* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.container {
    width: 100%;
}

.main {
    width: 1200px;
    margin: 0 auto;
}
